<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<sectionGroup name="devExpress">
			<section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
			<section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<connectionStrings>
		<add name="MainCon" connectionString="Data Source=23.111.175.186;Initial Catalog=InfinityERP;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="Underwriting" connectionString="Data Source=23.111.175.186;Initial Catalog=Underwriting;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="Commitment" connectionString="Data Source=23.111.175.186;Initial Catalog=Commitment;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="Valuation" connectionString="Data Source=23.111.175.186;Initial Catalog=Valuation;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="TestILS" connectionString="Data Source=192.168.1.11,8989;Initial Catalog=TestILSLocal;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="WBTCon" connectionString="Data Source=192.168.1.11,8989;Initial Catalog=InfinityWBT;Persist Security Info=True;User ID=sa;Password=idt15central; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="WBTBilling" connectionString="Data Source=192.168.12.22,8989;Initial Catalog=InfinityBilling;Persist Security Info=True;User ID=sa;Password=idt15central; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="InfinityBilling" connectionString="Data Source=23.111.175.186;Initial Catalog=InfinityBilling;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="InfinityBillingUW" connectionString="Data Source=23.111.175.186;Initial Catalog=InfinityBilling_UW;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="OldCon" connectionString="Data Source=23.111.175.186;Initial Catalog=infinityus;Persist Security Info=True;User ID=sa;Password=#Cl0ud^$ecure4; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="WMM" connectionString="Data Source=14.140.122.33,8989;Initial Catalog=WMMIN;Persist Security Info=True;User ID=sa;Password=idt15central; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="InfinityERPConnectionString" connectionString="Data Source=192.168.1.111,8989;Initial Catalog=ERPLocal;Persist Security Info=True;User ID=sa;Password=idt15central;Pooling=True;Min Pool Size=1;Max Pool Size=10;Connect Timeout=200;Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="TrackingCon" connectionString="Data Source=49.248.16.148\\MSSQLSERVERR2;Initial Catalog=ERPLocal;User ID=sa;Password=idt15central; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0; Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source={0};Extended Properties='Excel 8.0;HDR={1}'" />
		<add name="TitleCurative" connectionString="Data Source=192.168.11.11,8989;Initial Catalog=TitleCurative;Persist Security Info=True;User ID=sa;Password=idt15central; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="ClientPortal" connectionString="Data Source=192.168.11.11,8989;Initial Catalog=ILS-Client;Persist Security Info=True;User ID=sa;Password=idt15central; Pooling=true; Min Pool Size=1; Max Pool Size=10; Connect Timeout=200; Packet Size=8192" providerName="System.Data.SqlClient" />
		<add name="TitleCurativeEntities" connectionString="metadata=res://*/App_Code.EL.TitleCurativeModel.csdl|res://*/App_Code.EL.TitleCurativeModel.ssdl|res://*/App_Code.EL.TitleCurativeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.11.11,8989;initial catalog=TitleCurative;user id=sa;password=idt15central;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="InfinityERPEntities" connectionString="metadata=res://*/App_Code.DataModel.Model1.csdl|res://*/App_Code.DataModel.Model1.ssdl|res://*/App_Code.DataModel.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.11.11,8989;initial catalog=ERPLocal;persist security info=True;user id=sa;pooling=True;min pool size=1;max pool size=10;connect timeout=200;packet size=8192;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.web.extensions>
		<scripting>
			<webServices>
				<jsonSerialization maxJsonLength="500000000" />
			</webServices>
		</scripting>
	</system.web.extensions>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
		<add key="aspnet:UpdatePanelMaxScriptLength" value="2147483644" />
		<add key="JSVersion" value="1.0.25"/>
	</appSettings>
	<system.web>
		<customErrors mode="Off" />
		<!--<compilation debug="true" targetFramework="4.7.2">
			<assemblies>
				<add assembly="DevExpress.Web.ASPxThemes.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
			</assemblies>maxRequestLength="10485760"
		</compilation>-->
		<httpRuntime targetFramework="4.7.2" maxRequestLength="2097151" maxQueryStringLength="32768" maxUrlLength="65536" />
		<pages validateRequest="false">
			<controls>
				<add tagPrefix="portal" namespace="WebPortal.App_Code.Class" assembly="WebPortal" />
			</controls>
		</pages>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" name=".ASPXAUTH" cookieless="AutoDetect" path="/" protection="All" />
		</authentication>
		<!--<httpHandlers>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" verb="GET" path="DX.ashx" validate="false" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
		</httpHandlers>
		<httpModules>
			<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />
		</httpModules>-->
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<handlers>
			<!--<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" verb="GET" name="ASPxHttpHandlerModule" path="DX.ashx" preCondition="integratedMode" />
			<add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />-->
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<modules>
			<!--<add type="WebPortal.App_Code.QueryStringModule, WebPortal" name="QueryStringModule"/>-->
			<!--<add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v14.2, Version=14.2.3.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" name="ASPxHttpHandlerModule" />-->
		</modules>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="2147483647" />
				<!-- Value in bytes (e.g., 2GB) -->
			</requestFiltering>
		</security>
	</system.webServer>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
  <location path="Assets">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <allow roles="Other" />
        <allow roles="US Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="TrackingSheet">
    <system.web>
      <authorization>
        <allow roles="Admin" />
        <allow roles="Other" />
        <allow roles="US Employee" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
	<location path="IT">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Accounts">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="US">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="FTE">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Production">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Tracking">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="CRM">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Search">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="Reports">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<location path="User">
		<system.web>
			<authorization>
				<allow roles="Admin" />
				<allow roles="Other" />
				<allow roles="US Employee" />
				<deny users="*" />
			</authorization>
		</system.web>
	</location>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml.Framework" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<devExpress>
		<themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" />
		<compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
		<settings doctypeMode="Xhtml" rightToLeft="false" embedRequiredClientLibraries="false" ieCompatibilityVersion="edge" />
		<errors callbackErrorRedirectUrl="" />
	</devExpress>
</configuration>
