<%@ Master Language="C#" MasterPageFile="~/IT/Admin.Master" AutoEventWireup="true" CodeBehind="IHMSPage.Master.cs" Inherits="WebPortal.Helpdesk.IHMSPage" %>
<asp:Content ID="H" ContentPlaceHolderID="head" runat="server"><link href="helpdesk.css?v=1" rel="stylesheet" /><asp:ContentPlaceHolder ID="HelpdeskHead" runat="server" /></asp:Content>
<asp:Content ID="B" ContentPlaceHolderID="ContentPlaceHolder1" runat="server"><div class="container-fluid ihms"><div class="hero"><div><h2 id="ihms-title">IT Helpdesk</h2><div id="ihms-sub"></div></div><div id="ihms-nav"></div></div><asp:ContentPlaceHolder ID="HelpdeskBody" runat="server" /><div id="ihms-loading" class="loading"><i class="fas fa-circle-notch fa-spin"></i>&nbsp; Processing…</div></div><script src="helpdesk.js?v=1"></script><asp:ContentPlaceHolder ID="HelpdeskScripts" runat="server" /></asp:Content>
